In [1]:
import json
import datetime as dt
import pandas as pd
from pyspark.sql.functions import col, monotonically_increasing_id, row_number
from pyspark.sql.window import Window
from pyspark.sql.types import *

In [2]:
JDBC = {
    'url':'jdbc:oracle:thin:@realestate_high?TNS_ADMIN=/home/big/study/db/Wallet_REALESTATE'
    ,'props':{
        'user':'dw_realestate',
        'password':'123qwe!@#QWE'
    }   
}

In [3]:
from enum import Enum

# 데이터웨어하우스 ENUM
class DataWarehouse(Enum):
    URL='jdbc:oracle:thin:@realestate_high?TNS_ADMIN=/home/big/study/db/Wallet_REALESTATE'
    PROPS={
        'user':'dw_realestate',
        'password':'123qwe!@#QWE'
    }

In [4]:
def cal_std_day(befor_day):   
    x = dt.datetime.now() - dt.timedelta(befor_day)
    year = x.year
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)  
    return str(year) +str(month) +str(day)

In [5]:
JDBC = {
    'url':'jdbc:oracle:thin:@realestate_high?TNS_ADMIN=/home/big/study/db/Wallet_REALESTATE'
    ,'props':{
        'user':'dw_realestate',
        'password':'123qwe!@#QWE'
    }   
}

In [6]:
# 데이터웨어하우스, 데이터마트에서 데이터 가져오기 위한 함수
def find_data(config, table_name):
    return spark.read.jdbc(url=config.URL.value,
                                        table=table_name,
                                        properties=config.PROPS.value)

In [7]:
df_loc = find_data(DataWarehouse, 'LOC')
loc_code = df_loc.select(['SIDO','LOC_CODE']).filter(df_loc.SIGUNGU.isNull()).collect()
df_loc_code = spark.createDataFrame(loc_code)
df_loc_code.show()

+--------------+--------+
|          SIDO|LOC_CODE|
+--------------+--------+
|    부산광역시|   26000|
|    대구광역시|   27000|
|    인천광역시|   28000|
|    광주광역시|   29000|
|    대전광역시|   30000|
|    울산광역시|   31000|
|세종특별자치시|   36110|
|        경기도|   41000|
|        강원도|   42000|
|      충청북도|   43000|
|      충청남도|   44000|
|      전라북도|   45000|
|      전라남도|   46000|
|      경상북도|   47000|
|      경상남도|   48000|
|    서울특별시|   11000|
|제주특별자치도|   50000|
+--------------+--------+

In [8]:
path = '/realestate_data/local_foreigner_corp/local_foreigner_corp_data_'+cal_std_day(11)+'.json'
tmp = spark.read.json(path, encoding='UTF-8')
tmp.show()

+---------------------+
|               result|
+---------------------+
|{{APIINFO-0001, 정...|
+---------------------+

In [9]:
tmp.printSchema()

root
 |-- result: struct (nullable = true)
 |    |-- head: struct (nullable = true)
 |    |    |-- returnCode: string (nullable = true)
 |    |    |-- returnMessage: string (nullable = true)
 |    |    |-- totalCount: string (nullable = true)
 |    |-- items: struct (nullable = true)
 |    |    |-- item: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- adminRegn1Name: string (nullable = true)
 |    |    |    |    |-- adminRegn2Name: string (nullable = true)
 |    |    |    |    |-- enrNoCls: string (nullable = true)
 |    |    |    |    |-- resDate: string (nullable = true)
 |    |    |    |    |-- tot: string (nullable = true)

In [10]:
tmp2 = tmp.select('result').first()
df = spark.createDataFrame(tmp2)
tmp3 = df.select('items').first()
tmp4 = spark.createDataFrame(tmp3).first()
df2 = spark.createDataFrame(tmp4['item'])
df2.show()

+--------------+--------------+--------+----------+---+
|adminRegn1Name|adminRegn2Name|enrNoCls|   resDate|tot|
+--------------+--------------+--------+----------+---+
|    서울특별시|              |  내국인|2022-09-23|457|
|    서울특별시|              |  외국인|2022-09-23|  8|
|    서울특별시|              |    법인|2022-09-23| 92|
|    서울특별시|              |  비법인|2022-09-23|  7|
|    부산광역시|              |  내국인|2022-09-23|277|
|    부산광역시|              |  외국인|2022-09-23|  2|
|    부산광역시|              |    법인|2022-09-23| 63|
|    부산광역시|              |  비법인|2022-09-23|  1|
|    대구광역시|              |  내국인|2022-09-23|177|
|    대구광역시|              |  외국인|2022-09-23|  2|
|    대구광역시|              |    법인|2022-09-23|  2|
|    인천광역시|              |  내국인|2022-09-23|344|
|    인천광역시|              |  외국인|2022-09-23|  9|
|    인천광역시|              |    법인|2022-09-23| 48|
|    인천광역시|              |  비법인|2022-09-23|  2|
|    광주광역시|              |  내국인|2022-09-23| 78|
|    광주광역시|              |    법인|2022-09-23| 29|
|    대전광역시|              |  내국인|2022-09-23| 57|
|    대전광역시|              |    법인|2022-09-23|  4|
|    대전광역시|              |  비법인|2022-09-23|  1|
+--------------+--------------+--------+----------+---+
only showing top 20 rows

OT_IDX 

RES_DATE

RES_REGN_CODE

OWNER_CLS

TOT

In [11]:
df_type = df2.select(df2.adminRegn1Name.alias('SIDO'),df2.resDate.alias('RES_DATE'),df2.enrNoCls.alias('OWNER_CLS'),df2.tot.alias('TOT'))
df_type.show()

+----------+----------+---------+---+
|      SIDO|  RES_DATE|OWNER_CLS|TOT|
+----------+----------+---------+---+
|서울특별시|2022-09-23|   내국인|457|
|서울특별시|2022-09-23|   외국인|  8|
|서울특별시|2022-09-23|     법인| 92|
|서울특별시|2022-09-23|   비법인|  7|
|부산광역시|2022-09-23|   내국인|277|
|부산광역시|2022-09-23|   외국인|  2|
|부산광역시|2022-09-23|     법인| 63|
|부산광역시|2022-09-23|   비법인|  1|
|대구광역시|2022-09-23|   내국인|177|
|대구광역시|2022-09-23|   외국인|  2|
|대구광역시|2022-09-23|     법인|  2|
|인천광역시|2022-09-23|   내국인|344|
|인천광역시|2022-09-23|   외국인|  9|
|인천광역시|2022-09-23|     법인| 48|
|인천광역시|2022-09-23|   비법인|  2|
|광주광역시|2022-09-23|   내국인| 78|
|광주광역시|2022-09-23|     법인| 29|
|대전광역시|2022-09-23|   내국인| 57|
|대전광역시|2022-09-23|     법인|  4|
|대전광역시|2022-09-23|   비법인|  1|
+----------+----------+---------+---+
only showing top 20 rows

In [12]:
own_type = df_type.join(df_loc_code, on='SIDO')
own_type = own_type.select(col('LOC_CODE').alias('RES_REGN_CODE'),col('TOT').cast('int'),col('OWNER_CLS'),col('RES_DATE').cast(DateType()))
own_type = own_type.withColumn('OT_IDX', row_number().over(Window.orderBy(monotonically_increasing_id())))
own_type.show()

+-------------+----+------------------------+----------+------+
|RES_REGN_CODE| TOT|               OWNER_CLS|  RES_DATE|OT_IDX|
+-------------+----+------------------------+----------+------+
|        42000| 368|                  내국인|2022-09-23|     1|
|        42000|  89|                    법인|2022-09-23|     2|
|        42000|   1|국가기관 및 지방자치단체|2022-09-23|     3|
|        41000|1180|                  내국인|2022-09-23|     4|
|        41000|  23|                  외국인|2022-09-23|     5|
|        41000| 245|                    법인|2022-09-23|     6|
|        41000|   5|                  비법인|2022-09-23|     7|
|        41000|   6|국가기관 및 지방자치단체|2022-09-23|     8|
|        48000| 450|                  내국인|2022-09-23|     9|
|        48000|   4|                  외국인|2022-09-23|    10|
|        48000|  44|                    법인|2022-09-23|    11|
|        48000|   2|                  비법인|2022-09-23|    12|
|        48000|   1|국가기관 및 지방자치단체|2022-09-23|    13|
|        47000| 450|                  내국인|2022-09-23|    14|
|        47000|   1|                  외국인|2022-09-23|    15|
|        47000|  39|                    법인|2022-09-23|    16|
|        47000|   1|                  비법인|2022-09-23|    17|
|        47000|   4|국가기관 및 지방자치단체|2022-09-23|    18|
|        29000|  78|                  내국인|2022-09-23|    19|
|        29000|  29|                    법인|2022-09-23|    20|
+-------------+----+------------------------+----------+------+
only showing top 20 rows

In [13]:
own_type.write.jdbc(url=JDBC['url'], table='OWN_TYPE', mode='append', properties=JDBC['props'])

22/10/04 02:46:14 ERROR TaskSetManager: Task 0 in stage 25.0 failed 4 times; aborting job

Py4JJavaError: An error occurred while calling o155.jdbc.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 25.0 failed 4 times, most recent failure: Lost task 0.3 in stage 25.0 (TID 25) (localhost executor 1): java.sql.BatchUpdateException: ORA-12899: value too large for column "DW_REALESTATE"."OWN_TYPE"."OWNER_CLS" (actual: 35, maximum: 30)

	at oracle.jdbc.driver.OraclePreparedStatement.generateBatchUpdateException(OraclePreparedStatement.java:10323)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10090)
	at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:9975)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatch(OraclePreparedStatement.java:9932)
	at oracle.jdbc.driver.OracleStatementWrapper.executeBatch(OracleStatementWrapper.java:262)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:895)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1491)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
	Suppressed: java.sql.SQLException: ORA-12899: value too large for column "DW_REALESTATE"."OWN_TYPE"."OWNER_CLS" (actual: 35, maximum: 30)

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:628)
		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:562)
		at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:1145)
		at oracle.jdbc.driver.T4CTTIfun.receive(T4CTTIfun.java:726)
		at oracle.jdbc.driver.T4CTTIfun.doRPC(T4CTTIfun.java:291)
		at oracle.jdbc.driver.T4C8Oall.doOALL(T4C8Oall.java:492)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:148)
		at oracle.jdbc.driver.T4CPreparedStatement.executeForRows(T4CPreparedStatement.java:1038)
		at oracle.jdbc.driver.OraclePreparedStatement.executeForRowsWithTimeout(OraclePreparedStatement.java:9892)
		at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10069)
		... 17 more
	Caused by: Error : 12899, Position : 94, Sql = INSERT INTO OWN_TYPE ("RES_REGN_CODE","TOT","OWNER_CLS","RES_DATE","OT_IDX") VALUES (:1 ,:2 ,:3 ,:4 ,:5 ), OriginalSql = INSERT INTO OWN_TYPE ("RES_REGN_CODE","TOT","OWNER_CLS","RES_DATE","OT_IDX") VALUES (?,?,?,?,?), Error Msg = ORA-12899: value too large for column "DW_REALESTATE"."OWN_TYPE"."OWNER_CLS" (actual: 35, maximum: 30)

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:632)
		... 26 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2454)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2403)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2402)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2402)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1160)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2642)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2584)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2573)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:938)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2214)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2235)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2254)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2279)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1020)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1018)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:893)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:69)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:93)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:78)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:115)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:745)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.sql.BatchUpdateException: ORA-12899: value too large for column "DW_REALESTATE"."OWN_TYPE"."OWNER_CLS" (actual: 35, maximum: 30)

	at oracle.jdbc.driver.OraclePreparedStatement.generateBatchUpdateException(OraclePreparedStatement.java:10323)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10090)
	at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:9975)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatch(OraclePreparedStatement.java:9932)
	at oracle.jdbc.driver.OracleStatementWrapper.executeBatch(OracleStatementWrapper.java:262)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:895)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1491)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
	Suppressed: java.sql.SQLException: ORA-12899: value too large for column "DW_REALESTATE"."OWN_TYPE"."OWNER_CLS" (actual: 35, maximum: 30)

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:628)
		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:562)
		at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:1145)
		at oracle.jdbc.driver.T4CTTIfun.receive(T4CTTIfun.java:726)
		at oracle.jdbc.driver.T4CTTIfun.doRPC(T4CTTIfun.java:291)
		at oracle.jdbc.driver.T4C8Oall.doOALL(T4C8Oall.java:492)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:148)
		at oracle.jdbc.driver.T4CPreparedStatement.executeForRows(T4CPreparedStatement.java:1038)
		at oracle.jdbc.driver.OraclePreparedStatement.executeForRowsWithTimeout(OraclePreparedStatement.java:9892)
		at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10069)
		... 17 more
	Caused by: Error : 12899, Position : 94, Sql = INSERT INTO OWN_TYPE ("RES_REGN_CODE","TOT","OWNER_CLS","RES_DATE","OT_IDX") VALUES (:1 ,:2 ,:3 ,:4 ,:5 ), OriginalSql = INSERT INTO OWN_TYPE ("RES_REGN_CODE","TOT","OWNER_CLS","RES_DATE","OT_IDX") VALUES (?,?,?,?,?), Error Msg = ORA-12899: value too large for column "DW_REALESTATE"."OWN_TYPE"."OWNER_CLS" (actual: 35, maximum: 30)

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:632)
		... 26 more